<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Лента постов</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<h1>Блог</h1>
<button onclick="openPostForm()">Добавить пост</button>

<div id="post-form" style="display: none;">
    <h2>Добавить пост</h2>
    <form th:action="@{/post}" method="post">
        <input type="text" name="title" placeholder="Название поста" required>
        <input type="text" name="imgUrl" placeholder="Ссылка на картинку">
        <textarea name="content" placeholder="Текст поста" required></textarea>
        <input type="text" name="tags" placeholder="Теги через запятую">
        <button type="submit">Сохранить</button>
    </form>
</div>

<div id="post-list">
    <div th:each="post : ${posts}" class="post-preview">
        <h2><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></h2>
        <img th:src="${post.imgUrl}" alt="Post Image">
        <p th:text="${post.content}"></p>
<!--        <p>Комментарии: <span th:text="${post.commentCount}"></span></p>-->
        <p>Лайки: <span th:text="${post.likeCount}"></span></p>
        <p>
            <span th:each="tag : ${post.tags}" class="tag" th:text="${tag}"></span>
        </p>
    </div>
</div>
</body>
</html>
